@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;600&display=swap");

:root {
  --globalMarginX: 89px;
  --globalGridColumnGutter: 64px;
  --globalHalfGridColumnGutter: calc(var(--globalGridColumnGutter) / 2);
  --globalGridColumnGutterPlusHalf: calc(
    var(--globalGridColumnGutter) + var(--globalHalfGridColumnGutter)
  );
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter;
    background-color: #f5f0ec;
    scroll-behavior: smooth;
  }
}

@layer components {
  .custom-tvelveColumnsGrid {
    @apply grid grid-cols-12 gap-x-[64px];
  }

  .custom-navMenuItems {
    @apply transition-colors ease-in-out duration-200 hover:text-[#1B5B31];
  }

  .custom-navOfferMenuItems {
    @apply block px-4 py-2 text-sm transition-colors ease-in-out duration-200 group-hover:text-[#1B5B31];
  }

  .custom-cardContentGlobal {
    @apply hover:transition-all bg-white rounded-2xl p-6 lg:p-14 lg:space-y-6 w-80 border-2 border-transparent transition hover:border-[#1B5B31] lg:hover:shadow-2xl lg:hover:shadow-[#1B5B31];
  }

  .custom-cardImage {
    @apply flex justify-start items-center mb-4;
  }

  .custom-cardHeading {
    @apply text-xl lg:text-2xl font-semibold mb-2 font-secondary custom-textDecoration group-hover:text-[#1b5b31] group-hover:decoration-[#1b5b31];
  }

  .custom-cardLink {
    @apply flex text-[#1B5B31] border-b-2 border-b-[#1B5B31] w-2/3 lg:w-5/6 group-hover:animate-shake;
  }

  .custom-cardLinkVector {
    @apply transform -rotate-90 p-1 ml-2;
  }

  .custom-textDecoration {
    @apply transition-all ease-in-out duration-1000 decoration-transparent underline decoration-wavy decoration-2 underline-offset-[15px];
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.customCard {
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
}

.customCard:hover {
  background: rgb(27, 91, 49);
  background: linear-gradient(
    90deg,
    rgba(27, 91, 49, 1) 0%,
    rgba(245, 240, 236, 1) 100%
  );
  box-shadow: -58px -15px 100px -60px rgba(27, 91, 49, 1);
}

@media (min-width: 1024px) {
  .custom-right {
    right: calc(0px - var(--globalMarginX));
    left: calc(50% + var(--globalHalfGridColumnGutter));
  }

  .custom-left {
    left: calc(0px - var(--globalMarginX));
  }

  .customBeforeContainer::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #dcc1ab;
    left: calc(0px - var(--globalGridColumnGutterPlusHalf));
    right: calc(0px - var(--globalMarginX));
    z-index: -100;
  }

  .customBeforeContainerAboutCompany::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #1b5b31;
    left: calc(0px - var(--globalGridColumnGutter));
    right: calc(0px - var(--globalGridColumnGutterPlusHalf));
    z-index: -100;
  }

  .filterEffect {
    filter: blur(5px) hue-rotate(60deg);
  }

  .masonryChild {
    transition: 0.5s ease-in-out;
    outline-width: 0px;
    outline-style: dotted;
    outline-color: transparent;
    cursor: pointer;
    border-radius: 2%;
    transform: scale(89%);
  }

  .masonryChild:hover {
    transform: rotate(-5deg) scale(0.9);
    outline-width: 25px;
    outline-style: dashed;
    outline-color: #1b5b31;
    border-radius: 5%;
    filter: brightness(80%);
  }

  .masonryChild:hover:nth-of-type(odd) {
    transform: rotate(5deg) scale(0.9);
    filter: brightness(60%);
  }
}

.customCtaBtn {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.08);
  animation: shadow-pulse 1s infinite;
}

.customCtaBtn:hover {
  animation: shadow-pulse 0.6s infinite reverse;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(255, 255, 255, 0);
  }
}
