@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter;
  }
}

@media (min-width: 1024px) {
  .custom-right {
    right: calc(0px - 89px);
  }

  .customBeforeContainer::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #dcc1ab;
    left: calc(0px - 96px);
    right: calc(0px - 64px);
    z-index: -100;
  }

  .customBeforeContainerOfferSection::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #f5f0ec;
    left: calc(0px - 96px);
    right: calc(0px - 96px);
    z-index: -100;
  }
}
